{% extends 'base.html' %} 
  {% block content %}
    <main>
      <section class="main_content">
        <h2>View Our Blog Post</h2>
        <p>Latest Services and Information of various set ups and services offered by&nbsp;&nbsp;<span>QUINN DAISIES</span></p>
        <div class="row">
          <div class="col-md-10">
            <div class="hero">
              <div class="ads">
                <div class="ads_img">
                  <img src="{{url_for ('static', filename='images/daisieskindle14.jpg')}}" alt="quinn daisies image from pexel">
                </div>

                <div class="ads_content">
                  <h4>Get your Product Advert Page here</h4>
                  <p>In a bid to promote greater reach to our clients on our products and our services, get every lates news update here.</p>

                  <a href="">More Information&nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></a>
                </div>
              </div>
            </div>

            <div class="carousel_header">
              <div class="content_navbar">
                <ul>
                  <li><a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                    <ul>
                      <li><a href="{{ url_for('construction') }}">Add Content</a></li>
                      <li><a href="{{ url_for('construction') }}">Back to Posts</a></li>
                    </ul>
                  </li>
                </ul>
              </div>

              <h2> Google Adsense and Monetization of Web Content </h2>
            </div>

            <div class="row">
              <div class="post_information_container">
                <div class="post_information_container_img">
                  <img src="{{url_for ('static', filename='images/adsense.png')}}" alt="quinn daisies image from pexel">
                </div>

                <div class="post_information_container_content">
                  <div class="post_information_container_text">
                    <h1>Google Adsense</h1>
                    <span>26/06/2022</span>
                  </div>

                  <div class="post_information_container_text_details">
                    <p>
                      Web blogging seems to be a lucrative business flooding the internet with various blog site created with content monetization being the major aim. However this process could sometimes be tricky as most individuals are known to be money oriented at the detriment of original and professional content and information to be passed.
                    </p>

                    <p>
                      Web blogging is prominently used to discuss and promote personal views and ideas concerning various topics. Making money from intellectual content should however not be the aim as it could hamper productivity and the influence hoped to be achieved, a major reason for Google’s policy, terms and condition for the approval of a website or web blog to running advert campaigns and earn money.
                    </p>

                    <p>
                      Running adverts on personal blogs and website could surely be a high yield reward process which focus on reward for professional content with various agencies in support of this to mention a few; Adsterra Propeller Ads Google Adsense and even affiliate marketing programs like Amazon Affiliate, however our focus is solely on Google Adsense. After a survey taken it was determined that a grossing $1000 could be gotten daily from the monetization of web blog or website content which are considered to be professional, and original as well as having the capacity to attract a massive load of organic traffic to the web blog. With this figure, if an individual makes 10 posts in a day and generates 10,000 organic traffic on each post the individual could very much rail in thousands of dollar bills in a single day numbering to millions in naira, little wonder young industrious Nigerians are trooping into the business.
                    </p>

                    <p>
                      However to rake in such high amount of income specific factors are to be considered with the first being the Originality of the content or post. Originality is a major consideration by the Google adsense team to ensure post from other sources are not stolen and used to generate traffic and get paid. Also the team scrutinize for the use of invalid traffic usually purchased online. Such act could sometimes lead to the deactivation, banning or suspension of the Google adsense programs and services on the site or blog.
                    </p>

                    <p>
                      Another factor to look out for is the number of post on the web blog as this could also very much affect the activation process of Google Adsense on a web blog. For newly developed or activated web sites and web blogs, a certain number of posts should be reached before considering applying for Goggle Adsense.
                    </p>

                    <p>
                      Before websites can be eligible to host adverts, a certain degree and level of professionalism must be met, and this include a 404 error page, a terms of usage and mission post or pages and a purchased domain name which is highly important in the process of running adverts on a web blog.
                    </p>

                    <p>
                      However these factors are just few of the many policies and term and conditions to be met as stated by Google adsesne and it would be advisable to visit their web site to confirm for other policies, terms and conditions to be met before starting a blog or purchasing a website.
                    </p>

                    <h4 class="sub-heading">Pros of Using Google Adsense</h4>

                    <p>
                      For individuals who are familiar with the operation of Goggle Adsense, then one conclusion is certain, Adsense is very lucrative and the payout is also massive as well, also you can make use of Google analysis to track the flow of traffic, not to mention Google Adsense role in the promote of post content on the website and other amazing Google tools to use in the pursuit of a successful web blogging career. Ultimately Google Adsense would be highly recommended for the process of content monetization of web blog post, not to mention it would invariable promote professionalism.
                    </p>

                    <h4 class="sub-heading">Cons of Using Google Adsense</h4>

                    <p>
                      Apart from the time frame and difficulty encountered in the process of getting Google Adsense approval on a blog or a web site, Adsense would very much build blogging skill and till this moment uphold the quality of web contents to ensure professionalism.
                    </p>

                    <span><center>Share Blog Post on Social Media</center></span>
                    <div class="post_social">
                      <a href=""><i class="bx bxl-whatsapp"></i></a>
                      <a href="https://www.facebook.com/"><i class="bx bxl-facebook"></i></a>
                      <a href="https://www.twitter.com/"><i class="bx bxl-twitter"></i></a>
                      <a href="https://www.instagram.com/"><i class="bx bxl-instagram"></i></a>
                      <a href="https://www.facebook.com/"><i class="bx bxl-linkedin"></i></a>
                    </div>
                  </div>

                  <hr/>

                  <div class="author_informtion_section">
                    <div class="author_informtion_section_content">
                      <h3>Name:&nbsp;&nbsp;Ebire Folayemi Michael</h3>
                      <p>About the Author:&nbsp;&nbsp;Fullstack Developer | Website Design and Development | Software Pprogramming | Python Programming | Search Engine Optimization Expert | Writer and Author | Poet. </p>
                      <center><a href="{{ url_for('portfolio') }}" class="acc_btn">View Portfolio</a></center>
                    </div>

                    <div class="author_informtion_section_img">
                      <img src="{{url_for ('static', filename='images/author.jpg')}}" alt="quinn daisies image from pexel">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="banner_box">
                  <div class="banner_box_img">
                    <img src="{{url_for ('static', filename='images/keyword.jpg')}}" alt="quinn daisies image from pexel">
                  </div>

                  <div class="banner_box_content">
                    <h3>Understanding why Keywords are Important and SEO’s</h3>

                    <p>
                      Search engine optimization and its vast importance to the generation of website traffic and search engine hits can never be over stated. From the importance of page structure, to proper naming of header tags and labels to the inclusion of sitemaps and proper algorithmic arrangement of contents articles and flow of web pages, search engine optimization needs them all because it is serious business.
                    </p>

                    <div class="banner_box_footer">
                      <span>23/05/2023</span>
                      <a href="{{ url_for('optimization_fullest') }}">View More</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="banner_box">
                  <div class="banner_box_img">
                    <img src="{{url_for ('static', filename='images/console.jpg')}}" alt="quinn daisies image from pexel">
                  </div>

                  <div class="banner_box_content">
                    <h3>The Role of Sitemap and Google Console in Search Engine Optimization</h3>

                    <p>
                      Search Engine Optimization is determined by various factors, ranging from the structure of the website to the proper use of headers and other compulsory elements of a well designed website. When it comes to the elements involved in ensuring Search Engine Optimization, the principles of Meta Tags comes to mind for website developers and for bloggers the principles of social media influencing and promotions. There are also website capable of generating huge organic traffic, of course for a certain price, however this is not advisable as this would in time weaken the website projective force and the future to ascertain real
                    </p>

                    <div class="banner_box_footer">
                      <span>23/05/2023</span>
                      <a href="{{ url_for('searchengineoptimization') }}">View More</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="banner_box">
                  <div class="banner_box_img">
                    <img src="{{url_for ('static', filename='images/ccpa.jpg')}}" alt="quinn daisies image from pexel">
                  </div>

                  <div class="banner_box_content">
                    <h3>Getting your Website Approved for Google Adsense</h3>

                    <p>
                      When it comes to website policies concerning the usage and collection of data, there are certain policies to put in mind, ranging from the Terms of Usage and Services to Cookie Policies, Privacy Policies, or Disclaimer post, all this details are necessary and very important. In line with the monetization of content, specifically in relation to Google Adsense approval, these policies are very crucial.
                    </p>

                    <div class="banner_box_footer">
                      <span>23/05/2023</span>
                      <a href=" {{ url_for('ccpa') }} ">View More</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="banner_box">
                  <div class="banner_box_img">
                    <img src="{{url_for ('static', filename='images/affiliate.jpg')}}" alt="quinn daisies image from pexel">
                  </div>

                  <div class="banner_box_content">
                    <h3>Diversifying Online Income through Product Marketing</h3>

                    <p>
                      If you ask any website manager or blogger how they generate sustainable income from post and contents on their websites or blogs, most of them would tell you, it’s actually the result of advertising as the major source of income, monetization of traffic, or getting personalized advert contracts etc. Advert placement on web contents and blog post can be indeed lucrative with the generation of passive and sustainable income.
                    </p>

                    <div class="banner_box_footer">
                      <span>23/05/2023</span>
                      <a href=" {{ url_for('affiliate_marketing') }} ">View More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-2">
            <aside>
              <div class="subscription_section">
                <div class="subscription_container">
                  <h3>Subscribe to Our Services</h3>
                  <p>Get latest updates and Newsletters on our products and services.</p>
                  <div class="subscription_form">
                    <form>
                      <div class="form_design">
                        <i class="fa fa-key"></i>
                        <input type="email" name="email">
                      </div>

                      <div class="form_design_btn">
                        <input type="submit" name="submit" value="Subscribe" class="acc_btn">
                      </div>
                    </form>
                  </div>
                  <span>Contact Us via Social Media</span>
                  <div class="social_media">
                    <a href="https://www.facebook.com/folayemi.ebire"
                    ><i class="bx bxl-facebook"></i
                  ></a>
                  <a href="https://www.twitter.com/@_simplimism"
                    ><i class="bx bxl-twitter"></i
                  ></a>
                  <a href="https://www.instagram.com/ebire_folayemi"
                    ><i class="bx bxl-instagram"></i
                  ></a>
                  <a href="#"><i class="bx bxl-gmail"></i></a>
                  <a href="#"><i class="bx bxl-whatsapp"></i></a>
                  </div>
                </div>
              </div>

              <div class="aside_links">
                <h3>Quick Link</h3>
                <p>Get access to more products and services</p>
                <div class="quick_link">
                  <a href=" {{ url_for('index') }} ">Home</a>
                  <a href=" {{ url_for('portfolio') }} ">About Us</a>
                  <a href=" {{ url_for('portfolio') }} ">Services</a>
                  <a href=" {{ url_for('portfolio') }} ">Contact Us</a>
                </div>
              </div>

              <div class="ads_section">
                <div class="ads_box">
                  <div class="ads_img">
                    <img src="{{url_for ('static', filename='images/daisieskindle14.jpg')}}" alt="quinn daisies image from pexel">
                  </div>

                  <h4>Get your Product Advert Page here</h4>
                  <p>In a bid to promote greater reach to our clients on our products and our services, get every lates news update here.</p>

                  <a href="">More Information&nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></a>
                </div>
              </div>

              <div class="service_info">
                <h4>Check Out Our Products and Services Below</h4>

                <div class="service_links">
                  <a href=" {{ url_for('website_development') }} ">Website Development</a>
                  <a href=" {{ url_for('software_programming') }} ">Software Programming</a>
                  <a href=" {{ url_for('seo_service') }} ">Search Engine Optimization Searvices</a>
                  <a href=" {{ url_for('backlink') }} ">Backlink Services</a>
                  <a href=" {{ url_for('consulting') }} ">Consulting Services</a>
                  <a href=" {{ url_for('career') }} ">Career Path</a>
                </div>
              </div>


              <div class="ads_section">
                <div class="ads_box">
                  <div class="ads_img">
                    <img src="{{url_for ('static', filename='images/daisieskindle14.jpg')}}" alt="quinn daisies image from pexel">
                  </div>

                  <h4>Get your Product Advert Page here</h4>
                  <p>In a bid to promote greater reach to our clients on our products and our services, get every lates news update here.</p>

                  <a href="">More Information&nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></a>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </section>
    </main>
  {% endblock %}