{% extends 'base.html' %} 

{% block content %}

<!----Home----->
  <section class="home" id="home">
    <div class="home-text container">
      <h2 class="home-title logo">Quinn <span> Daisies</span></h2>
        <span class="home-subtitle"> The Services we give, the Services you need. </span>
    </div>
  </section>

  <div class="shadow p-3 mb-5 bg-body rounded">

    <h2 class="sub-heading" align="center">Quinn Daisies Services</h2>
    <p class="post-text">
      Quinn Daisies is an extension of Simplimism which started in the year 2016, with a Wordpress Blog at <a href="https://simplimism.wordpress.com"> Simplimism Word Press Site </a> meant to post poetic and other news updates before moving to a Blog Spot site with the same notion. Over the years Simplimism has evolved from a wordpress site to a self built and designed site with added advantages in the areas of Book Reviews, Article writing, Website Development, Software Programming and Book Publications. Simplimism with its author Ebire Folayemi Michael and founder as added skilled training to this platform. Here are some of the Services rendered by Quinn Daisies/Simplimism:
    </p>


    <div class="shadow p-3 mb-5 bg-body rounded">
      <table class="table table-hover">
        <tr>
          <td><b>WEB DEVELOPMENT<b/></td>
              <td><b>NOTE</b></td>
              <td><b>PLAN</b></td>
              <td><b>DURATION</b></td>
              <td><b>COMPONENT</b></td>
              <td><b>PRICE</b></td>
          </tr>
          <br/>
          <br/>
        
          <tr>
              <td></td>
              <td> Web Development is a very important part of the human advancement process with various organizations tapping into this field. Quinn Daisies offers Web Development services with the use of HTML, CSS, JAVASCRIPTS, and React,JS for Web Applications to provide its clients with the best Designs available. Check Out some of Simplimism Websites Templates at <a href="https://arcadedesigns.github.io/Avalanche"
                  >Avalanche (An online Web Development Site)</a>, <a href="https://arcadedesigns.github.io/The-Platform">
                  The Platform (An Online library)</a></td>
              <td> Static Website </td>
              <td> One Week </td>
              <td> Basic HTML, CSS and JavaScripts </td>
              <td> $100 | #50,000 </td> 
          </tr>   
          <br/>
          <br/>

          <tr>
            <td></td>
            <td></td>
            <td> Dynamic Website</td>
            <td> One - Two Weeks </td>
            <td> Basic HTML, CSS and JavaScripts with some functionality </td>
            <td> $200 | #100,000</td>
          </tr>
          <br/>
          <br/>


          <tr>
            <td></td>
            <td></td>
            <td>Web Application</td>
            <td>One Months</td>
            <td> HTML, CSS, JAVASCRIPTS, PYTHON FLASK, PYTHON DJANGO, Sqlite3, MySQL, POSTGRES</td>
            <td> $1500 - $2500 | #1,000,000 - #3,000,000 </td>
          </tr>
          <br/>
          <br/>

          <tr>
            <td>SOFTWARE PROGRAMMING</td>
            <td>Using Python Programming Language, Quinn Daisies offers Software Development for your computer system, from PDF readers, Converters, and as far as a Database analysis or Management.</td>
            <td>Software Development</td>
            <td> Time Varies on the intended Application </td>
            <td>HTML, CSS, JAVASCRIPTS, PyQt5 QtDesigner, Tkinter, Kivy, PYTHON FLASK, PYTHON DJANGO, Sqlite3, MySQL, POSTGRES</td>
            <td> Varies </td>
          </tr>
          <br/>
          <br/>

          <tr>
            <td></td>
            <td></td>
            <td>Management and Maintenance</td>
            <td> Varies </td>
            <td> Varies</td>
            <td> Varies </td>
          </tr>
          <br/>
          <br/>
      </table>
      <h2 class="sub-heading"> NOTE: Quinn Daisies offers Web development at extremely Discounted Rates. </h2>
    </div>



        <br/>
        <br/>

  <div class="shadow p-3 mb-5 bg-body rounded">
    <h2 class="sub-heading" align="center"> BACKLINKS AND SEARCH ENGINE OPTIMIZATION </h2>
    <table class="table table-hover">
      <tr>
        <td><b>PLANS<b/></td>
            <td><b>DURATION</b></td>
            <td><b>DESCRIPTION</b></td>
            <td><b>PRICE</b></td>
        </tr>
        <br/>
        <br/>
      
        <tr>
            <td>Basic</td>
            <td> One Month</td>
            <td> A free Post on our platform for a month, however does not guarantee sharing or SEO activities</td>
            <td> Free </td> 
        </tr>   
        <br/>
        <br/>

        <tr>
          <td>Customer Perks</td>
          <td> One Month</td>
          <td> Three free Post for Customer's who have contributed to the growth of the platform through one medium or the other, with a free Article Occupying the Home Page for a Month</td>
          <td> For Contributing Accounts</td>
        </tr>
        <br/>
        <br/>


        <tr>
          <td>Exclusive</td>
          <td>Three Months</td>
          <td> Unlimited Free Post for Three Months and three Home Page Articles with SEO activities guaranteed, as well as backlink listing</td>
          <td> $100 </td>
        </tr>
        <br/>
        <br/>


        <tr>
          <td>Recurrent Post</td>
          <td> One Year</td>
          <td> This plan Guarantees round the year activities ranging from Backlink services, to Home Page Posts and Articles, and full SEO activities for a year, with Unlimited posts and Article publications. This Plan automatically Qualifies Individuals for the Customer perks after expiration.</td>
          <td> $1000 </td>
        </tr>
        <br/>
        <br/>

        <tr>
          <td>Search Engine Optimization</td>
          <td> One Year </td>
          <td> This provides Search Engine Optimization Services solely, to increase awareness and increase traffic all year Long, to carry out monthly Audit of Websites and ensure privacy policies are met.</td>
          <td> $1500 </td>
        </tr>
        <br/>
        <br/>
    </table>
  </div>


        <br/>
        <br/>
        <br/>
        <br/>


  <br/>
  <br/>
  <br/>


      <!-----posts------>
      <section class="post-content post-container">

        <h1 class="sub-heading">Daisies Kindle Coming Soon </h1>

          

            <h2 class="sub-heading">Book publications</h2>

            <p class="post-text">
                  With extreme knowledge in the use of Amazon Kindle Direct Publishing, Quinn Daisies could help you set your margin appropriately, and your Book Content, review your book with promotions and creation of an Author Page, with just a click if you are a writer and need to publish your article or book, you can get it done here.
            </p>

            <h2 class="sub-heading">Check Out Our free E books section</h2>

            <p class="post-text">Its a great read try it out and see.</p>

            <p class="post-text">
                  <a href="assets\post\The Other Family by Wendy Corsi Staub.pdf" alt="Good to great by JimCollins"> Read the Other Family by Wendy Corsi Staub for free </a>
            </p>

            <p class="post-text">
                  <a href="assets\post\The Other Family by Wendy Corsi Staub.pdf" alt="Good to great by JimCollins">Purchase Hard Cover and Paperback from Amazon Kindle</a>
            </p>

            <p class="post-text">
                  <!--- <a href="assets\post\The Other Family by Wendy Corsi Staub.epub" alt="Good to great by JimCollins"> Read Now (Epub Version)</a> ---->
            </p>
      </section>

  <div class="shadow p-3 mb-5 bg-body rounded">
    

  </div>


      <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ url_for('static', filename= 'images/newquinndaisies.jpg') }}" class="d-block w-100" alt="..." width=1200 border-radius="30px">
        </div>

        <div class="carousel-item">
          <img src="{{ url_for('static', filename= 'images/quinndaisies.jpg') }}" class="d-block w-100" alt="..." width=1200 border-radius="30px">
        </div>

        <div class="carousel-item">
          <img src="{{ url_for('static', filename= 'images/quinndaisieslogo.png') }}" class="d-block w-100" alt="..." width=1000 max-width="950px" border-radius="20px">
        </div>

        <div class="carousel-item">
          <img src="{{ url_for('static', filename= 'images/quinndaisiessearch.png') }}" class="d-block w-100" alt="..." width=1200 border-radius="30px">
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">

        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
{% endblock %}
